{% extends 'blog/base.html' %}
{% block content %}
  <div class="grid grid-cols-3 gap-4">
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      {% if object.image_url %}
        <img class="rounded-t-lg" src="{{ object.image_url }}" alt="" />
      {% else %}
        <img class="rounded-t-lg" src="https://flowbite.com/docs/images/blog/image-1.jpg" alt="" />
      {% endif %}

      <div class="p-5">
        <div class="mb-3 flex items-center justify-between font-normal text-xs text-gray-700 dark:text-gray-400">
          <div class="flex items-center">
            <img src="{{ object.author.profile.image.url }}" class="w-8 h-8 mr-2 p-0.5 ring-2 rounded-full" alt="">
            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">{{ object.author }}</a> 
          </div>
          <p class="text-[11px]">
            {{ object.date_posted|date:"M d, Y" }}
          </p>
        </div>

        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ object.title }}</h5>
        
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ object.content }}</p>

        {% if object.author.id == user.id %}
          <div class="flex items-center gap-4">
            <a href="{% url 'post-update' object.id %}" class="grow inline-flex gap-2 justify-center items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Edit Post
              <svg class="h-5 w-5 text-white" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />  <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
              </svg>
            </a>

            <a href="{% url 'post-delete' object.id %}" class="grow inline-flex gap-2 justify-center items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-600 rounded-lg hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-500 dark:hover:bg-red-600 dark:focus:ring-red-900">
              Delete
              <svg class="h-5 w-5 text-white" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <polyline points="3 6 5 6 21 6" />  <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />  <line x1="10" y1="11" x2="10" y2="17" />  <line x1="14" y1="11" x2="14" y2="17" />
              </svg>
            </a>
          </div>
        {% endif%}
      </div>
    </div>
  </div>
{% endblock content %}
